@model KapsamliProje.Ent.FatDetail
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Update</h4>

<form method="post">
    
    <label asp-for="Amount">Adet</label>
    <input type="text" asp-for="Amount" />
    <input type="submit" value="Ok" />
</form>
