 
@model  KapsamliProje.Ui.Models.ViewModels.LoginModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Register</h3>
<hr />
<form  method ="post">
  <div class="mb-3">
       
    <label asp-for="UserId" class="form-label">Email address</label>
    <input type="email" class="form-control" asp-for="UserId" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label asp-for="Password" class="form-label">Password</label>
    <input type="password" class="form-control" asp-for="Password">
  </div>
  
   
  <button type="submit" class="btn btn-primary">Ok</button>
</form>

